<h2>Editing Menu Category</h2>

<%= render "form", menu_category: @menu_category %>

<%= link_to "Show", @menu_category, class: "btn btn-success btn-sm", style: "color:#fff;" %> |
<%= link_to "Back", menu_categories_path, class: "btn btn-success btn-sm", style: "color:#fff;" %>
