<h2>Editing Menu Category</h2>

<%= render "form", menu_category: @menu_category %>

<%= link_to "Show", @menu_category, class: "btn rails_link_to" %> |
<%= link_to "Back", menu_categories_path, class: "btn rails_link_to" %>
