<br/>
<p class="ShowMenuCategoryName-label">
  <strong class="ShowMenuCategoryName-label">Name:</strong>
  <p class="ShowMenuCategory-name">
  <%= @menu_category.name %></p>
</p>

<%= link_to "Edit", edit_menu_category_path(@menu_category), class: "btn btn-success btn-sm", style: "color:#fff;" %> 
<%= link_to "Back", menu_categories_path, class: "btn btn-success btn-sm", style: "color:#fff;" %>
