<h3 class="NewUsers-title"  style=text-align:center;margin-top:30px;>Reset your password!</h3>
  
  <br/><br/>

<section class="container UsersNew">

<%= form_with url: reset_password_path do |form| %>

    <div class="form-group Form-section">  
        <% # <p class="FormInput-label">Email <span>*</span> </p> %>
        <%= form.email_field :email, placeholder: "Enter your email Address", class: "form-control Form-Input", autofocus: "autofocus", required: "required" %>
    </div>
   <br/>

    <div class="form-group Form-section" style="text-align:center;">
        <%= form.submit "Send password reset email", class: "btn btn-success", style: "margin-top:8px;text-transform:unset;" %>
    </div>

<% end %>

</section>