<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Reset password for Hot Cafe</title>    

  </head>
  <body>
  <section class="section" style="padding: 0 30px;background-color:#F0F0F0;text-align:center;">
    <h3 style="font-weight:500;">Hi <%= @user.name %>! 
      <br/> Someone has requested a link to change your password. </h3>
        <br/>
        <h3 style="font-weight:700;text-decoration:none;"> <span style="color:red;"> Password reset link: </span> <br/>
        <%= link_to "#{user_reset_password_url}", user_reset_password_url(:email => @user.email) %> 
        </h3>
        <br/>
        <p>If you didn't request this, please ignore this email.<br/> 
          Your password won't change unless you access the above link to generate a new one!</p>
        <br/>
        <p style="color:#888888;">Have a great day! 🙂</p>

    <p> &#169; All Rights Reserved | <i class="fad fa-mug-hot "></i> <a href = 'https://hot-cafe.herokuapp.com' alt='Hot-cafe.com'>Hot-cafe.com</a> </p>
  </section>
  </body>
</html>
