<h2>Editing Menu Item</h2>

<%= render "form", menu_item: @menu_item %>

<%= link_to "Show", @menu_item, class: "btn rails_link_to" %> 
<%= link_to "Back", menu_categories_path, class: "btn rails_link_to" %>
