<% if User.find(session[:current_user_id]).role == "admin" %>
<div class=container style="display:flex;justify-content:space-between;">
    <%= button_to "Back", order_filter_path, class: "btn btn-outline-primary btn-sm", method: :get %>
</div>
<br/>

<% # Sales Calculation %>
<% total = 0 %>
<% @order.each do |order| %>
<% @order_items = OrderItem.where(order_id: order.id) %>
<% @order_items.each do |order_item| %>
<% total = total + order_item.menu_item_price %>
<% end %>
<% end %>

<div class=container style="text-align:center;">
<h5 style="color:blue;">Sale for the given time frame & Order Status is ₹ <%= total %></h5></div>
<hr/>

<%= render partial: "order" %>
<% else %>
<%= render "404" %>
<% end %>