
<div class=container style="display:flex;justify-content:space-between;">

    <%= button_to "Back", cafe_path, class: "btn btn-outline-primary btn-sm", method: :get %>
</div>
<br/>

<%= render partial: "order" %>
