<% # Bootstrap Cdn %>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <% if flash[:msg] %>
      <div class="alert alert-success" role="alert">
        <%= flash[:msg] %>
      </div>
    <% end %>

    <% if flash[:error] %>
        <div class="alert alert-danger" role="alert">
          <%= flash[:error] %>
        </div>
    <% end %>

<h3 class="NewUsers-title" style=text-align:center;margin-top:30px;>Welcome new User</h3>
<br/>

<%= render partial: "form" %>
