<div class=container style="text-align:center;margin-top:2%;">

    <h2 style=font-size:3rem; >Welcome to HotCafe.com</h2>
    <i class="fad fa-mug-hot fa-7x "></i>
    <br/><br/>

<h4 class="Home-authenticate">
    If you are a new user Please <%= link_to "Sign-Up here", new_user_path(:role => "customer"), class: "btn btn-outline-success" %>
</h4>
<br/>

<h4 class="Home-authenticate">
    If you are an existing user Please <%= link_to "login here", sessions_path, class: "btn btn-outline-success" %>
</h4>
</div>