<% if @order.any? %>
  <h4 style="text-align:center;">No orders! Please Checkout Items after adding them in Shopping Cart to place an order.</h4>
<% end %>

<div class=container style="display:flex;justify-content:space-between;">
    <%= link_to "Back", cafe_path, class: "btn btn-success", style: "color:#fff;" %>
</div>
<br/>

<%= render partial: "order" %>
