<div class=container style="display:flex;justify-content:space-between;">

    <%= link_to "Back", cafe_path, class: "btn btn-success", style: "color:#fff;" %>
</div>
<br/>

<%= render partial: "order" %>
